section.body

	nav.body-nav

		include ./body/_nav.jade	

	section.body-contents
		
			
		include ../parts/_login.jade
		include ./body/sections/_search.jade
		include ./body/sections/_browse.jade
		include ./body/sections/_resources.jade

		.summon

			//- iframe(src="http://irimoh.preview.summon.serialssolutions.com")
