section.login

	.login-username.floatLabel

		input(type="text", placeholder="Username")

		label Username

	.login-password.floatLabel

		input(type="password", placeholder="Password")

		label Password

	.login-login.submit

		button Login

	.login-forgot Forgot your password?

section.forgot

	.forgot-text

		p Enter your credentials we will send you instructions to login
		p Sorry, We dont have such Username or Email
		p We sent you an email, follow the instructions there

	.forgot-username.floatLabel

		input(type="text", placeholder="Username or Email")

		label Username or Email

	.forgot-send.submit

		button Send

	.forgot-login Back to login