<!DOCTYPE html>
html(lang="en")
	head
		<meta name="format-detection" content="telephone=no" />
		<meta name="msapplication-tap-highlight" content="no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		meta(charset="UTF-8")
		title Wikiseda
		link(rel="stylesheet", href="./styles/css/index.css")
		link(rel="stylesheet", href="./styles/css/app.css")
	body

		.login-register

			.back#back-button

				img(src="./assets/icons/back_.png")

			.layer(data-z="65", data-room="30")

				.caption

					img(src="./assets/images/logo.png")

					h1#label-wikiseda Wikiseda
					h2#label-wikiseda-desc Source of Iranian music

			.form-holder

				form.register

					input#label-register-username(type='text', name="username", placeholder='Username')

					input#label-register-email(type='email', name="email", placeholder='Email')

					input#label-register-password(type='password', name="password", placeholder='Password')

					input#label-register-submit(type='submit', name="register-submit", value='Join!')

					.login-link#login-link Have account?  Login

				form.login

					input#label-login-username(type='text', name="username", placeholder='Username')

					input#label-login-password(type='password', name="password", placeholder='Password')

					input#label-login-submit(type='submit', name="login-submit", value='Login')

					a.login-link#forgetLink(onclick="window.open('https://www.wikiseda.com/user/forgotPassword', '_system')") Forgot Password?

			#change-lang ูุง

		.app-page


			.main

			//- .search-icon#search

			.bottom

				.bottom-complex-icon#icon-home

					.bottom-icon.bottom-icon-home

					.bottom-icon-text#label-bottom-home Home

				.bottom-complex-icon#icon-artist

					.bottom-icon.bottom-icon-artist

					.bottom-icon-text#label-bottom-artists Artists

				.bottom-complex-icon#icon-song

					.bottom-icon.bottom-icon-song

					.bottom-icon-text#label-bottom-songs Songs

				.bottom-complex-icon#icon-album

					.bottom-icon.bottom-icon-album

					.bottom-icon-text#label-bottom-albums Albums

				.bottom-complex-icon#icon-playlist

					.bottom-icon.bottom-icon-playlist

					.bottom-icon-text#label-bottom-more More

			.top#top

				.top-tab

					.top-tab-selector

						.top-tab-close#player-close

						.top-tab-selector-holder

							span.top-tab-selector-select.top-tab-selector-selected#now-playing Now Playing
							span.top-tab-selector-select#play-queue Play Queue


					.top-tab-slide#top-tab-slide

						.top-titles#player-titles

							.top-titles-song-name#label-player-wikiseda Wikiseda
							.top-titles-artist#label-player-wikiseda-sesc Source of Iranian Music

						.top-tab-slide-segment

							.top-tab-slide-segment-cover#cover

								.top-tab-slide-segment-cover-image

									img(src="./assets/images/ws.jpg")
									img(style="visibility: hidden; height: 0; width: 0;")

								.top-tab-slide-segment-covercover#covercover


								.top-tab-slide-segment-lyric#lyric

								.top-tab-slide-segment-info#info

									.top-tab-slide-segment-info-text#info-loading

										h3 Loading

									.top-tab-slide-segment-info-divs#info-divs

										.top-tab-slide-segment-info-text#info-downloads
										.top-tab-slide-segment-info-text#info-views
										.top-tab-slide-segment-info-text#info-size
										.top-tab-slide-segment-info-text#info-length
										.top-tab-slide-segment-info-text#info-date
										.top-tab-slide-segment-info-text#info-rate
										.top-tab-slide-segment-info-text#info-desc

						.top-tab-slide-selects#selects

							.top-icon.top-icons-add#player-add
							span.top-tab-slide-selects-select(style="background-color: #5e6465")
							span.top-tab-slide-selects-select
							span.top-tab-slide-selects-select
							.top-icon.top-icons-fav#player-fav

						.top-tab-slide-segment-subtitle#subtitle-holder

							.top-tab-slide-segment-subtitle-text#subtitle

					.top-tab-queue#top-tab-queue

				.player

					.top-icons
		
						.top-icon.top-icons-repeat#repeat
						.top-icon.top-icons-pre#player-prev
						.top-icon.top-icons-play#player-play
						.top-icon.top-icons-next#player-next
						.top-icon.top-icons-shuffle#shuffle

				.mini-player#player-expand

					.mini-player-image

						img(src="./assets/images/logo.png")#mini-player-image

					.mini-player-titles#mini-player-titles

						.mini-player-titles-song-name#label-miniplayer-wikiseda Wikiseda
						.mini-player-titles-artist#label-miniplayer-wikiseda-desc Source of Iranian music

					.mini-player-icons

						.mini-player-icons-play#player-play

				.top-seekbar

					.top-seekbar-move

			.menu

				.menu-bg#menu-close

				.menu-box

					.menu-box-item#menu-box-add-to-queue

						.menu-box-item-icon.menu-box-add-to-queue

						.menu-box-item-text#label-menu-box-add-to-queue Add to queue

					.menu-box-item#menu-box-play-next

						.menu-box-item-icon.menu-box-play-next

						.menu-box-item-text#label-menu-box-play-next Play next

					.menu-box-item#menu-box-add-to-playlist

						.menu-box-item-icon.menu-box-add-to-playlist

						.menu-box-item-text#label-menu-box-add-to-playlist Add to playlist

					.menu-box-item#menu-box-sync

						.menu-box-item-icon.menu-box-sync

						.menu-box-item-text#label-menu-box-sync Download

					.menu-box-item#menu-box-music-share

						.menu-box-item-icon.menu-box-share

						.menu-box-item-text#label-menu-box-music-share Share music

					.menu-box-item#menu-box-info

						.menu-box-item-icon.menu-box-info

						.menu-box-item-text#label-menu-box-info Song info

					.menu-box-item#menu-box-cancel

						.menu-box-item-icon.menu-box-cancel

						.menu-box-item-text.label-multi-music#label-menu-box-cancel Cancel

				.menu-box

					.menu-box-item#menu-box-follow

						.menu-box-item-icon.menu-box-follow

						.menu-box-item-text#label-menu-box-follow Become a fan

					.menu-box-item#menu-box-play-top

						.menu-box-item-icon.menu-box-play

						.menu-box-item-text#label-menu-box-play-top Play top songs

					.menu-box-item#menu-box-artist-share

						.menu-box-item-icon.menu-box-share

						.menu-box-item-text#label-menu-box-artist-share Share artist

					.menu-box-item#menu-box-cancel

						.menu-box-item-icon.menu-box-cancel

						.menu-box-item-text.label-multi-artist#label-menu-box-cancel Cancel

				.menu-box

					.menu-box-item#menu-box-play-album

						.menu-box-item-icon.menu-box-play

						.menu-box-item-text.label-multi-album#label-menu-box-play-album Play this album

					.menu-box-item#menu-box-album-add-to-queue

						.menu-box-item-icon.menu-box-add-to-queue

						.menu-box-item-text.label-multi-album#label-menu-box-album-add-to-queue Add all to queue

					.menu-box-item#menu-box-album-play-next

						.menu-box-item-icon.menu-box-play-next

						.menu-box-item-text.label-multi-album#label-menu-box-album-play-next Play all next

					.menu-box-item#menu-box-sync-album

						.menu-box-item-icon.menu-box-sync

						.menu-box-item-text#label-menu-box-sync-album Download all musics

					.menu-box-item#menu-box-album-share

						.menu-box-item-icon.menu-box-share

						.menu-box-item-text#label-menu-box-album-share Share album

					.menu-box-item#menu-box-cancel

						.menu-box-item-icon.menu-box-cancel

						.menu-box-item-text.label-multi-album#label-menu-box-cancel Cancel

				.menu-box

					.menu-box-item#menu-box-play-album

						.menu-box-item-icon.menu-box-play

						.menu-box-item-text.label-multi-playlist#label-menu-box-play-album Play this playlist

					.menu-box-item#menu-box-album-add-to-queue

						.menu-box-item-icon.menu-box-add-to-queue

						.menu-box-item-text.label-multi-playlist#label-menu-box-album-add-to-queue Add all to queue

					.menu-box-item#menu-box-album-play-next

						.menu-box-item-icon.menu-box-play-next

						.menu-box-item-text.label-multi-playlist#label-menu-box-album-play-next Play all next

					.menu-box-item#menu-box-sync-playlist

						.menu-box-item-icon.menu-box-syncicon

						.menu-box-item-text#label-menu-box-sync-playlist Sync this playlist

					.menu-box-item#menu-box-download-playlist

						.menu-box-item-icon.menu-box-sync

						.menu-box-item-text#label-menu-box-download-playlist Download all musics

					.menu-box-item#menu-box-remove-playlist

						.menu-box-item-icon.menu-box-remove

						.menu-box-item-text#label-menu-box-remove-playlist Remove this playlist

					.menu-box-item#menu-box-cancel

						.menu-box-item-icon.menu-box-cancel

						.menu-box-item-text.label-multi-playlist#label-menu-box-cancel Cancel

				.menu-box

					#more-option-Downloaded_Media.more-select
						
						span.more-select-icon
						span.more-select-text Downloads

					#more-option-Recent_Media.more-select
						
						span.more-select-icon
						span.more-select-text Recent Media

					#more-option-Playlists.more-select
						
						span.more-select-icon
						span.more-select-text Playlists

					#more-option-Settings.more-select
						
						span.more-select-icon
						span.more-select-text Settings


				.menu-box.menu-box-subpage#menu-box-subpage

			.loading

				.loading-items.loading-1
				.loading-items.loading-2
				.loading-items.loading-3
				.loading-items.loading-4
				.loading-items.loading-5
				.loading-items.loading-6

		.flash-message

		script(src="./cordova.js")
		script(src="./intelxdk.js")
		script(src="./scripts/dist/fuse.min.js")
		script(src="./scripts/dist/index.js")