/* line 1, ../sass/index.sass */
.login-register {
  background-color: #e5e9ea;
  height: 100%;
  width: 100%;
}
/* line 3, ../sass/index.sass */
.login-register #change-lang {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fff;
  border-radius: 40%;
  line-height: 50px;
  height: 50px;
  width: 50px;
  text-align: center;
  z-index: 1000000;
}
/* line 26, ../sass/index.sass */
.login-register .back {
  position: absolute;
  left: 10px;
  top: 10px;
  display: none;
  z-index: 2;
}
/* line 36, ../sass/index.sass */
.login-register .back img {
  height: 50px;
  width: 50px;
}
/* line 41, ../sass/index.sass */
.login-register .layer {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
}
/* line 48, ../sass/index.sass */
.login-register .caption {
  height: 100%;
  width: 100%;
  text-align: center;
}
/* line 55, ../sass/index.sass */
.login-register .caption img {
  height: 100px;
  width: 100px;
}
/* line 60, ../sass/index.sass */
.login-register .caption h1, .login-register .caption h2 {
  font-weight: normal;
  margin-bottom: 0px;
}
/* line 65, ../sass/index.sass */
.login-register .caption h1 {
  font-size: 26px;
  color: #576971;
}
/* line 70, ../sass/index.sass */
.login-register .caption h2 {
  color: #7a8082;
  font-size: 18px;
  margin-top: 0px;
  font-family: RobotoCondensedRegular;
}
/* line 77, ../sass/index.sass */
.login-register .form-holder {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  max-width: 250px;
  margin: auto;
  text-align: center;
}
/* line 90, ../sass/index.sass */
.login-register .form-holder input {
  display: block;
  background-color: #FFF;
  border: 1px solid #d6cece;
  height: 50px;
  margin: auto;
  margin-bottom: 7px;
  border-radius: 25px;
  width: 100%;
  font-family: RobotoLight;
  font-size: 16px;
}
/* line 104, ../sass/index.sass */
.login-register .form-holder input[type="text"],
.login-register .form-holder input[type="password"],
.login-register .form-holder input[type="email"] {
  padding-left: 30px;
}
/* line 110, ../sass/index.sass */
.login-register .form-holder input[type="submit"] {
  background-color: #00a1eb;
  color: #fff;
  font-size: 18px;
}
/* line 116, ../sass/index.sass */
.login-register .login-link {
  font-family: RobotoLight;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 5px;
  text-decoration: underline;
  color: #3d4243;
  text-align: center;
}
/* line 130, ../sass/index.sass */
.login-register #forgetLink {
  position: relative;
  top: 30px;
}
/* line 135, ../sass/index.sass */
.login-register .register {
  text-align: center;
}
/* line 139, ../sass/index.sass */
.login-register .login {
  text-align: center;
  display: none;
}
