.nav-links

	.nav-link 
		a(href="#") Search

	.nav-link
		a(href="#") Browse

	.nav-link
		a(href="#") Resources

	.nav-link
		a(href="#") Settings

.nav-account

	.account-link
		a(href="#") Account

