section.search

	.search-keywords.floatLabel
		
		input(type="text", placeholder="Keywords")

		label keywords

	//- .search-in in

	.search-type.dropDown

		input(type="text", placeholder="any document type", disabled)

		label document type

	.search-go.submit

		button Search

	.search-options
		
		.option.checkbox
			input#fullText(type="checkbox")
			label(for="fullText") Full Text
		
		.option.checkbox
			input#peer(type="checkbox")
			label.fa.fa-circle-thin(for="peer") Peer Reviewed
		
		.option.checkbox
			input#expand(type="checkbox")
			label.fa.fa-circle-thin(for="expand") Expand your results outside the library's collection
	
	.search-advanced advanced options

	.search-adv-opts

		.option.title.margin.floatLabel
		
			input(type="text", placeholder="Title")

			label Title

		.option.author.floatLabel
		
			input(type="text", placeholder="Author or Editor")

			label Author or Editor

		.option.publisher.margin.floatLabel
		
			input(type="text", placeholder="Publisher")

			label Publisher

		.option.volume.margin.floatLabel
		
			input(type="text", placeholder="Volume")

			label Volume

		.option.issue.floatLabel
		
			input(type="text", placeholder="Issue")

			label Issue
